.center {
    margin: auto;
    text-align: center;
    width: 20%;
    height: 10%;
}

.title {
    text-align: center;
    background-color: transparent;
    color: dodgerblue;
    font-family: Calibri, serif;
}

.vertical-aligned {
    vertical-align: center;
}

.title-secondary {
    text-align: center;
    background-color: transparent;
    font-family: Calibri, serif;
}

.informal-message {
    text-align: center;

    background-color: transparent;
    color: brown;
    font-family: Calibri, serif;
}

card {
    width: 10px;
}
