<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dashboard</title>
    <h:outputStylesheet library="css" name="general.css"/>
</h:head>
<h:body>
    <f:metadata>
        <f:viewAction action="${dashboardBean.showMessage}"/>
    </f:metadata>
    <div class="card">
        <h:form label="loginForm" class="form">
            <p:growl id="growl" showDetail="true" />
            <p:menubar>
                <p:menuitem  icon="pi pi-plus" value="Add a new loan" action="#{dashboardBean.addLoan}"    />
                <p:menuitem value="Logout" icon="pi pi-fw pi-sign-out"  styleClass="ui-button-info" action="#{loginBean.logout}"/>
            </p:menubar>
        </h:form>
    </div>
    <div class="center">
        <h:panelGroup rendered="#{empty dashboardBean.loans}">
            <h1 class="title">#{dashboardBean.userDTO.firstName} #{dashboardBean.userDTO.lastName}, you have no loaned items.</h1>
            <h2 class="title-secondary">Add your first loan.</h2>
            <h:form>
                <p:commandButton action="#{dashboardBean.addLoan}" icon="pi pi-plus" styleClass="ui-button-raised"/>
            </h:form>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty dashboardBean.loans}">
            <h1 class="title">Hi #{dashboardBean.userDTO.firstName} #{dashboardBean.userDTO.lastName}!</h1>
            <h:form rendered="#{not empty dashboardBean.loans}">
                <p:inputText value="#{filterBean.filterDTO.borrowerName}" placeholder="Borrower name" />
                <br/>
                <br/>
                <p:datePicker id="button" value="#{filterBean.filterDTO.loanDate}" showIcon="true" placeholder="Loan date"/>
                <br/>
                <br/>
                <p:selectOneRadio value="#{filterBean.filterDTO.timing}"  columns="2" layout="responsive" unselectable="true">
                    <f:selectItems value="${filterBean.timings}" var="t" itemLabel="#{t}" itemValue="${t}"/>
                </p:selectOneRadio>
                <br/>
                <br/>
                <p:commandButton action="#{filterBean.filter}" icon="pi pi-filter" value="Filter" styleClass="ui-button-info"/>
                <p:commandButton action="#{filterBean.reset}" icon="pi pi-undo" value="Clear filter" styleClass="ui-button-secondary"/>
            </h:form>
        </h:panelGroup>
    </div>
    <br/>
    <h:panelGroup rendered="#{not empty dashboardBean.loans}">
        <h:panelGroup rendered="#{filterBean.wasFiltered eq false}" >
            <h4 class="title-secondary">No items here. Try the filter feature.</h4>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty filterBean.loans and filterBean.wasFiltered and not filterBean.wasCleared}">
            <h4 class="title-secondary">No items found.</h4>
        </h:panelGroup>
        <h:panelGroup rendered="${not empty filterBean.loans}">
            <h2 class="title-secondary">Your filtered loans:</h2>
        </h:panelGroup>
        <p:carousel rendered="#{not empty filterBean.loans}" value="#{filterBean.loans}" numVisible="6" var="loan" varStatus="loanStatus" responsive="true">
            <p:card style="height: 375px">
                <f:facet name="header">
                    <img style="height: 150px" alt="user header" src="#{loan.items[0].imageUrl}"/>
                </f:facet>
                <f:facet name="title">Borrower: <b>${loan.borrowerName}</b></f:facet>
                <p>Name: <b>#{loan.items[0].name}</b>, Quantity: <b>#{loan.items[0].quantity}</b></p>
                <p:tag styleClass="p-mr-2" severity="info" value="Loaned: #{loan.dateLoaned}"/>
                <p:tag rendered="#{loan.isReturned eq true}" styleClass="p-mr-2" severity="success" value="#{loan.state}"/>
                <p:tag rendered="#{loan.isReturned eq false}" styleClass="p-mr-2" severity="danger" value="#{loan.state}"/>
                <p:tag rendered="#{loan.isReturned eq true}" styleClass="p-mr-2" severity="Info" value="Returned: #{loan.returnedDate}"/>
                <br/>
                <br/>
                <h:form>
                    <p:commandButton rendered="#{loan.isReturned eq false}" icon="pi pi-check" styleClass="ui-button-success" value="Mark as received" action="#{filterBean.markAsReceived(loan.id)}" />
                </h:form>
            </p:card>
        </p:carousel>
    </h:panelGroup>
    <br/>
    <h:panelGroup rendered="#{not empty dashboardBean.loans}">
        <h2 class="title-secondary">All loans:</h2>
    </h:panelGroup>
    <p:carousel rendered="#{not empty dashboardBean.loans}" value="#{dashboardBean.loans}" numVisible="6" var="loan" varStatus="loanStatus" responsive="true">
        <p:card style="height: 375px">
            <f:facet name="header">
                <img style="height: 150px" alt="user header" src="#{loan.items[0].imageUrl}"/>
            </f:facet>
            <f:facet name="title">Borrower: <b>${loan.borrowerName}</b></f:facet>
            <p>Name: <b>#{loan.items[0].name}</b>, Quantity: <b>#{loan.items[0].quantity}</b></p>
            <p:tag styleClass="p-mr-2" severity="info" value="Loaned: #{loan.dateLoaned}"/>
            <p:tag rendered="#{loan.isReturned eq true}" styleClass="p-mr-2" severity="success" value="#{loan.state}"/>
            <p:tag rendered="#{loan.isReturned eq false}" styleClass="p-mr-2" severity="danger" value="#{loan.state}"/>
            <p:tag rendered="#{loan.isReturned eq true}" styleClass="p-mr-2" severity="Info" value="Returned: #{loan.returnedDate}"/>
            <br/>
            <br/>
            <h:form>
                <p:commandButton rendered="#{loan.isReturned eq false}" icon="pi pi-check" styleClass="ui-button-success" value="Mark as received" action="#{filterBean.markAsReceived(loan.id)}" />
            </h:form>
        </p:card>
    </p:carousel>
</h:body>
</html>
