<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <h:outputStylesheet library="css" name="general.css" />
</h:head>
<h:body>
    <div class="center">
        <h:form label="loginForm" class="form">
            <h1 class="title">Loan-Me</h1>
            <br/>
            <span class="ui-input-icon-left">
                <i class="pi pi-user" />
                <p:inputText placeholder="Username" required="true" value="#{loginBean.loginDTO.username}" />
            </span>
            <br/>
            <br/>
            <span class="ui-input-icon-left">
                <i class="pi pi-key" />
                <p:password placeholder="Password" required="true" value="#{loginBean.loginDTO.password}" />
            </span>
            <br />
            <br/>
            <p:commandButton value="Login"  action="#{loginBean.loginUser}" />
            <br />
            <p:messages id="messages" closable="true">
                <p:autoUpdate/>
            </p:messages>
        </h:form>
    </div>
</h:body>
</html>