<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add loan</title>
    <h:outputStylesheet library="css" name="general.css" />
</h:head>
<h:body>
    <div class="center">
        <h:form label="newLoanForm" class="form" enctype="multipart/form-data">
            <h1 class="title">Add new loan</h1>
            <br/>
            <div class="p-field p-col-12 p-md-4">
                <p:datePicker id="button" value="#{newLoanBean.loanDate}" label="Loan date" showIcon="true" validatorMessage="The loaned date is required." required="true" placeholder="Loan date"/>
            </div>
            <br/>
            <p:inputText placeholder="Borrower" required="true" value="#{newLoanBean.borrowerName}" />
            <br/>
            <br/>
            <hr/>
            <p:inputText placeholder="Item name" required="true" value="#{newLoanBean.itemDTO.name}">
                <f:validateLength minimum="2"/>
            </p:inputText>
            <br/>
            <br/>
            <p:inputNumber decimalPlaces="0" decimalSeparator="." placeholder="Quantity"  required="true" value="#{newLoanBean.itemDTO.quantity}" />
            <br/>
            <br/>
            <p:fileUpload auto="true" mode="simple"  skinSimple="true" listener="#{newLoanBean.upload}" dragDropSupport="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
            <br/>
            <br/>
            <p:commandButton value="Add loan" action="#{newLoanBean.addLoan}" />
            <br/>
            <p:messages id="messages" closable="true">
                <p:autoUpdate/>
            </p:messages>
        </h:form>
    </div>
</h:body>
</html>
